html,body{
	height: 100%;
}

body{
	background: #448ef6;
	background: linear-gradient(45deg, #29bae4 0%, #ee76ad 100%);
}

.jura-font{
	font-family: 'Jura', sans-serif;
}


@media (min-width: 50px) { 
	video{
		width: 320px;
		height: 180px;
	}
}

@media (min-width: 576px) { 
	video{
		width: 566px;
		height: 317px;
	}
}

@media (min-width: 768px) { 
	video{
		width: 758px;
		height: 425px;
	}
}

@media (min-width: 992px) { 
	video{
		width: 982px;
		height: 550px;
	}
}

@media (min-width: 1200px) { 
	video{
		width: 1190px;
		height: 667px;
	}
}